:root {
    --swiper-theme-color: black;
}

.wrapper {
    width: 85vw;
    margin: 0 auto;
    overflow: hidden;
}
.outerDiv {
    background-color: #f8f8f8;
    height: 100%;
    padding: 0.5rem;
}
.swiper {
    width: 75rem;
    height: 14rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}
.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 2rem 2rem 2rem 2rem;
}

.mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media (min-width: 2560px) {
    .swiper {
        width: 100rem;
        height: 22rem;
    }
}
@media (max-width: 1024px) {
    .swiper {
        width: 45rem;
    }
}
@media (max-width: 768px) {
    .swiper {
        width: 40rem;
    }
}
@media (max-width: 425px) {
    .swiper {
        width: 22rem;
    }
}
@media (max-width: 375px) {
    .swiper {
        width: 18rem;
    }
}
@media (min-width: 458px) and (max-width: 526px) {
    .swiper {
        width: 26rem;
    }
}
