.foodCard {
    background-color: #f8f8f8;
    border-radius: 1rem;
    padding: 0.75rem;
    border: 1px solid black;
    width: fit-content;
    display: flex;
    gap: 0.5rem;
}
.fImage img {
    width: 8rem;
    height: 8rem;
}
.fContent {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 10rem;
}
.fContent span:nth-child(2) {
    color: #808080;
}
.fContent span:nth-child(3) {
    display: flex;
    gap: 0.25rem;
    align-items: center;
}
@media (max-width: 375px) {
    .fImage img {
        width: 6rem;
        height: 6rem;
    }
    .fContent h4 {
        font-size: 0.75rem;
    }

    .fContent span:nth-child(2) {
        font-size: 0.75rem;
    }
    .fContent span:nth-child(3) {
        font-size: 0.75rem;
    }
}
