.container {
    margin-bottom: 15rem;
}
.container .header {
    font-family: "Poppins";
    text-transform: uppercase;
    color: #eb5757;
    font-size: 1.125rem;
    text-align: center;
}
.container h1 {
    font-size: 3.25rem;
    font-family: "Roboto", sans-serif;
    color: #2f2e41;
    text-align: center;
    margin-top: 1rem;
}
.container .innerContainer {
    display: flex;
    margin-top: 2rem;
    gap: 4rem;
}

.left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
}

@media (max-width: 1024px) {
    .container {
        margin-top: 2rem;
    }
    .container .header {
        font-size: 1rem;
    }
    .container h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    .container .innerContainer {
        gap: 1.5rem;
        flex-direction: column;
    }
    .left {
        flex-direction: row;
        justify-content: center;
    }
}
@media (max-width: 425px) {
    .container {
        margin-bottom: 5rem;
    }
    .container .header {
        font-size: 1.25rem;
    }
    .container h1 {
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
}
@media (max-width: 768px) {
    .container {
        margin-bottom: 8rem;
    }
    .container .header h1 {
        font-size: 1.25rem;
    }
}
@media (max-width: 375px) {
    .container .header {
        font-size: 0.75rem;
    }
    .container h1 {
        font-size: 1.25rem;
    }
}
