.cartItem{
    width: 100%;
}
.from span{
    color: #EB5757;
}
.item{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}
.item  .left .price{
    font-size: 1rem;
    color: #808080;
}

.item .right{
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

.item .right a{
    cursor: pointer;
}
@media(max-width: 768px){
    .cartItem .right{
        font-size: 1rem;
    }
}
@media(max-width: 320px){
    .cartItem .right{
        font-size: 0.75rem;
    }
}