.wrapper {
  width: 85vw;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  color: white;
  padding: 2rem 0;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.banner {
  background-color: #202020;
  width: 100%;

  margin-top: 4rem;
  font-family: Poppins;
}
.wrapper .bannerImg {
  width: 20rem;
  height: 12.875rem;
  border-radius: 1rem;
}
.wrapper .left {
  display: flex;
  gap: 1rem;
}
.left h3:first-child {
  font-size: 1.75rem;
}
.desc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  font-size: 1.5rem;
}
.info .rating,
.info .delivery,
.info .cft {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
}
.category {
  font-size: 0.875rem;
}
.ratingFirstRow {
  color: white;
  gap: 0.25rem;
  display: flex;
}
.rating span {
  font-size: 0.875rem;
}
.info {
  display: flex;
  gap: 1.5rem;
}
.right .offer {
  display: flex;
  gap: 0.5rem;
}
.right {
  display: flex;
  align-items: center;
}
.right h2:first-child {
  color: #eb5757;
  margin-bottom: 1rem;
}
.offers {
  border: 2px dashed #eb5757;
  padding: 1.5rem;
  border-radius: 1rem;
}
@media (max-width: 425px) {
  .left {
    flex-wrap: wrap;
  }
}
@media ((min-width: 425px )and (max-width: 768px)) {
  .wrapper {
    align-items: center;
    justify-content: center;
  }
  .left {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media ((min-width: 320px )and (max-width: 425px)) {
  .left {
    font-size: 0.75rem;
  }
  .wrapper {
    font-size: 0.75rem;
  }
}
