:root {
    --swiper-theme-color: #EB5757;
}
.wrapper {
    width: 85vw;
    margin: 0 auto;
    overflow: hidden;
}
.outerDiv {
    background-color: #f8f8f8;
    height: 20rem;
    padding: 0.5rem;
}
.carousel{
    border: 2px solid red;

}

@media(max-width: 375px){
    .wrapper h2{
        font-size: 1rem;
    }
}