.deliveryRestaurants {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
/* .deliveryItems {
    display: flex;
    justify-content: center;
    flex-direction: column;
} */

@media (max-width: 786px) {
    .deliveryItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
