.deliveryRestaurants {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.deliveryItems {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 786px) {
}
