.deliveryRestaurants {
    margin: 4rem 0rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.deliveryItems {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 786px) {
    .deliveryItems {
        justify-content: center;
    }
}
